.rectangle {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 2.5vh;
}

.right-rectangle {
    overflow: hidden;
}

.left-rectangle {
    align-items: center;
}

.rectangle-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 2.5vh;
}
