.filter-bar {
    width: 30vw;
    font-size: 3.5vh;
    height: 5vh;
    border: none;
    position: relative;
    outline: none;
    left: 4.2vw;
    background-image: url("https://i.imgur.com/Kqkoj5X.png");
    border-radius: 2.5vh;
    background-size: cover;
    background-position: center;
    color: #51294B;
    font-family: 'Rowdies', sans-serif;
}

