.cat-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.cat-placeholder {
    width: 24vh;
    height: calc(16vw + 3.5vh + 10px);
    border-radius: 20px;
}