.upper-border-text {
    fill: var(--eggplant);
    font-size: 52px;
    font-weight: bold;
}

.upper-border {
    margin-bottom: 1%;
}

.upper-border-centered-text {
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}