.row-container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.column-container-list {
    display: flex;
    flex-direction: column;
    height: 125vh;
}
